@model Project_1.Models.OrderDetailModel

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Add Order Detail</h5>

        <form asp-action="OrderDetailSave" method="post" class="row g-3">

            <input type="hidden" name="OrderDetailID" asp-for="OrderDetailID" />

            <div class="col-6">
                <label asp-for="OrderID" class="form-label"></label>
                <select class="form-select" asp-for="OrderID" asp-items="@(new SelectList(ViewBag.OrderList, "OrderID", "OrderNumber"))">
                    <option value="">Select Order</option>
                </select>
                <span asp-validation-for="OrderID" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="ProductID" class="form-label"></label>
                <select class="form-select" asp-for="ProductID" asp-items="@(new SelectList(ViewBag.ProductList, "ProductID", "ProductName"))">
                    <option value="">Select Order</option>
                </select>
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="Quantity" class="form-label"></label>
                <input type="number" class="form-control" asp-for="Quantity" placeholder="Enter Quantity" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="Amount" class="form-label"></label>
                <input type="number" step="0.01" class="form-control" asp-for="Amount" placeholder="Enter Amount" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="TotalAmount" class="form-label"></label>
                <input type="number" step="0.01" class="form-control" asp-for="TotalAmount" placeholder="Enter Total Amount" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="UserID" class="form-label"></label>
                <select class="form-select" asp-for="UserID" asp-items="@(new SelectList(ViewBag.userList, "UserID", "UserName"))">
                    <option value="">Select User</option>
                </select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>
</div>
