<div class="card">
    <div class="card-body">
        <table>
            <tr>
                <td><h5 class="card-title">Project Table</h5></td>
                <td>
                    <div class="ps-5">
                        <a asp-controller="Project" asp-action="Project_Form"><button type="button" class="btn btn-success">Add</button></a>
                    </div>
                </td>
            </tr>
        </table>
        <!-- Default Table -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Project ID</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Budget</th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Hospital Management System</td>
                    <td>05-11-2011</td>
                    <td>10-10-2012</td>
                    <td>$5000</td>
                    <td>
                        <button type="button" class="btn btn-primary">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>School Management System</td>
                    <td>15-01-2015</td>
                    <td>10-03-2015</td>
                    <td>$3000</td>
                    <td>
                        <button type="button" class="btn btn-primary">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Expense Management System</td>
                    <td>05-11-2011</td>
                    <td>10-10-2012</td>
                    <td>$5000</td>
                    <td>
                        <button type="button" class="btn btn-primary">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End Default Table Example -->
    </div>
</div>