<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Projects List</h5>
                    <div class="d-flex justify-content-end"><a class="btn btn-primary" asp-controller="Home" asp-action="AddProjects">Add Project</a></div>

                    <!-- Table with stripped rows -->
                    <table class="table mt-5">
                        <thead>
                            <tr>
                                <th>
                                    Project ID
                                </th>
                                <th>Project Name</th>
                                <th data-type="date" data-format="YYYY/DD/MM">Start Date</th>
                                <th data-type="date" data-format="YYYY/DD/MM">End Date</th>
                                <th>Budget</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Darshan LMS</td>
                                <td>06/06/2004</td>
                                <td>18/07/2024</td>
                                <td>400000</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>