<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Department List</h5>
                    <div class="d-flex justify-content-end"><a class="btn btn-primary" asp-controller="Home" asp-action="AddDepartment">Add Department</a></div>

                    <!-- Table with stripped rows -->
                    <table class="table mt-5">
                        <thead>
                            <tr>
                                <th>
                                    Department ID
                                </th>
                                <th>Department Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Owner</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>