<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Employee List</h5>
                    <div class="d-flex justify-content-end"><a class="btn btn-primary" asp-controller="Home" asp-action="AddEmployee" >Add Employee</a></div>

                    <!-- Table with stripped rows -->
                    <table class="table mt-5">
                        <thead>
                            <tr>
                                <th>
                                    FirstName
                                </th>
                                <th>LastName</th>
                                <th>City</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th data-type="date" data-format="YYYY/DD/MM">Hire Date</th>
                                <th>Job Title</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>shreyansh</td>
                                <td>patel</td>
                                <td>surendernager</td>
                                <td>shreydemo1985@gmial.com</td>
                                <td>9537430600</td>
                                <td>21/02/2055</td>
                                <td>Owner</td>
                                <td>100000</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>